---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const { href, className, ariaLabel, title, disabled = false } = Astro.props;
---

<a
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class={`group inline-block ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
  /* tooltip */
  a::before {
    @apply pointer-events-none absolute z-10 hidden whitespace-nowrap rounded p-2 text-xs group-hover:block;
    content: attr(aria-label);
    transform: translateX(-50%);
    top: -1.5rem;
    left: 50%;
  }
</style>
