---
// src/components/Tag.astro
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${name.toLowerCase()}`}
    transition:name={name.toLowerCase()}
    class={`${size === "sm" ? "text-sm" : "text-lg"} group`}
  >
    <span
      class="inline-block bg-skin-card px-3 py-1 text-skin-base hover:bg-skin-card-muted rounded-lg"
    >
      {name.toLowerCase()}
    </span>
  </a>
</li>